@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.myMainGradient {
  background: linear-gradient(
    0deg,
    rgba(86, 153, 134, 1) 34%,
    rgba(40, 47, 59, 1) 100%
  );
}

.myGradient {
  background-image: radial-gradient(
    circle,
    #263755,
    #27344c,
    #273244,
    #282f3b,
    #282c33
  );
}
